{{ $altText := .Get "alt"}}
{{ $caption := .Get "caption"}}
{{ with $.Page.Resources.GetMatch (.Get "name") }}
  <figure>
    <a href="{{.RelPermalink}}">
      <img
        srcset="
          {{ (.Resize "320x").RelPermalink }} 320w,
          {{ (.Resize "640x").RelPermalink }} 640w,
          {{ (.Resize "1200x").RelPermalink }} 2x"
        src="{{ (.Resize "600x").RelPermalink }}" alt="{{$altText}}" title="{{ $altText }}"/>
    </a>
    {{ if $caption }}
    <figcaption><p>{{ $caption }}</p></figcaption>
    {{ end }}
  </figure>
{{ else }}
  <p>Whoops! Couldn't find image</p>
{{ end }}