
/* OPTIONS */
$primary-color: #0190AF;
$secondary-color: #960;
$highlight: #0190AF;
$background: #e3e3e3;
$darkgrey: #666;
$white: #fff;


/* RESETS.SCSS */
@import 'resets';
@import 'functions';

/* FUNCTIONS and MIXINS */
/* This should work */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
	     -o-border-radius: $radius;
	        border-radius: $radius;
}

/* STRUCTURAL */
body {background: #000;}

#branding {
	border-bottom:1px solid #fff;
	clear:both;
	position: relative;
	overflow: hidden;
	line-height: 1;
}

#content {
	background: #e3e3e3;
	background: -moz-linear-gradient(left,  #e3e3e3 0%, #eee 50%, #e3e3e3 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e3e3e3), color-stop(50%,#eee), color-stop(100%,#e3e3e3));
	background: -webkit-linear-gradient(left,  #e3e3e3 0%,#eee 50%,#e3e3e3 100%);
	background: -o-linear-gradient(left,  #e3e3e3 0%,#eee 50%,#e3e3e3 100%);
	background: -ms-linear-gradient(left,  #e3e3e3 0%,#eee 50%,#e3e3e3 100%);
	background: linear-gradient(to right,  #e3e3e3 0%,#eee 50%,#e3e3e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3',GradientType=1 );	
	margin:0;
}

#sidebar {
	background: #000;
	background: -moz-linear-gradient(top,  #000 0%, #1b1b1b 30%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(30%,#1b1b1b));
	background: -webkit-linear-gradient(top,  #000 0%,#1b1b1b 30%);
	background: -o-linear-gradient(top,  #000 0%,#1b1b1b 30%);
	background: -ms-linear-gradient(top,  #000 0%,#1b1b1b 30%);
	background: linear-gradient(to bottom,  #000 0%,#1b1b1b 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#1b1b1b',GradientType=0 );
	min-height:100px;@include border-radius(0 0 6px 6px);
	padding:0;margin-bottom: 8px;
	@extend .clearfix;
}

#thebrand {
	background-color: $primary-color;
	border-bottom: 1px solid $white;
	border-top: 1px solid $white;
	a {
		text-decoration: none;
		color: $white;
		text-shadow: none;
	}
}

/* TYPOGRAPHY */

body {font-family:Oxygen,Helvetica,Arial,Verdana,sans-serif;font-size: 0.9em;color:#1d1d1d;line-height:1.4em;}
body strong {font-weight: bold;}
body em {font-style: italic;}


// THIS STUFF NEEDS REVIEWED
.blog-post ul, .blog-post ol {
	display:block;
	padding-left: 1.6rem;
	margin-left: 0.6rem;
	li {
		margin-bottom: 0.6rem;
	}
}
.blog-post ul ul {
	margin-top: 0.6rem;
}
.blog-post ul li {
	list-style-type: circle;
}
.blog-post ol li {
	list-style-type: decimal;
}


h1#site-title {margin:0 0 0.1em;}
h1#site-title a, #site-description {color:#fff;text-decoration:none;text-shadow:1px 1px 1px rgba(0,0,0,0.8);}
h1, h2, h3 {font-family: Rokkitt, Georgia, Garamond, serif;}
h1 {color:$highlight;font-size:1.8rem;line-height:2rem;margin-bottom: 1em;}
h1.entry-title {border-bottom:1px solid #e3e3e3;margin-bottom:0.4em;padding-bottom:0.2em;}
h2 {
	color:$darkgrey;
	font-size: 1.6rem; 
	font-weight: bold;
	line-height:1.6rem; 
	margin: 1.2rem 0 0.8rem;
	text-shadow: 1px 1px 1px #fff;
}
h3 {
	font-size:1.4rem;
	margin: 1.2rem 0 0.8rem;
	font-weight: bold;
	line-height: 1.5rem;
}
h4, h5 {
	font-weight: bold;
	font-size: 1rem;
	text-transform:uppercase;
	line-height: 1.5rem;
	margin-bottom: 0.8rem;
	text-shadow: 0px 1px 0px #fff;
	color: $highlight;
}
#content p {
	margin-bottom:1rem;
}
#content a {
	text-decoration: none;
	color:$highlight;
}
.entry-meta {
	font-size:0.8rem;
	margin-bottom: 0.4em;
}

.sidebar {
	color:$highlight;
	text-shadow:1px 1px 2px rgba(0,0,0,0.8);
	h3 {
		color: #fff;
		border-bottom: 1px solid $darkgrey;
		margin-bottom:6px;
		padding-bottom: 6px;
	}
	a, a:visited {
		color:$highlight;
		text-decoration: none;
	}
	> ul {
		margin: 0 1em;
	}
	.widget {
		margin-bottom:18px;
	}

}

#colophon {
	text-align: center;
	color:#960;
	a {
		color:#960;
		font-weight:bold;
		text-decoration: none;
	}
	a:hover {
		color:#f60;
	}
}

/* Image & caption handling */
#gridwriter img {
	max-width:100%;
	height:auto;
	border: 0;
}
.entry-content {overflow:hidden;}
.alignleft {float:left;margin-right:1em;}
.alignright {float:right; margin-left:1em;}
.aligncenter {margin:0 auto;display: block;}

figure {
	margin: 0 0 1rem;
}

figcaption {
	font-style: italic;
}

#sidebar {
	&:first-of-type {
		border-radius: 5px 5px 0 0;
	}
}


/* DESKTOP DECLARATIONS */
@media screen and (min-width: 800px) {
	#content{ 
		padding:3em 0px;	
	}
	#branding {
		img {
			border-radius: 8px 8px 0px 0px;
		}
		#thebrand {
			border-top: 1px solid $primary-color;
			border-radius: 8px 8px 0 0;
		}
	}


}



.blog-post {
	position: relative;
	z-index: 1;
	padding: 0 3rem;
	.entry-header {
	    position:relative;
	    padding:2em;
		margin:-5em -2em 1.5em;
	    background:#fff;
	    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
}

.blog-post .entry-header:before, .blog-post .entry-header:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.blog-post .entry-header:before {
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
    box-shadow:0 0 15px rgba(0,0,0,0.6);
    @include border-radius(10px / 100px);
}

.block-layout {
	/* TODO: Synch with content block in mobile breakpoint */
	margin-bottom:1rem;
	padding:0 1rem;
}

/* EXPERIMENTAL */

.blog-card {
	background: $white;
	margin: 2em;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	@include border-radius(.5em);
	img {
		@include border-radius(.5em .5em 0 0);
	}
	.card-meta {
		padding:0 1em 0;
		h3 {
			margin: .5em 0 .3em 0;
		}
		.entry-meta {
			padding: 0 0 .5em 0;
		}
	}
}

#gridwriter {
	background: transparent;
	display:grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(10rem, auto);
	grid-gap: 1rem;
	/*> div {
		background-color: #ccc;
	}*/
}

@media screen and (min-width:800px) {
	#gridwriter {
		display:grid;
		grid-template-columns: repeat(3, 1fr);

		#gridarticle {
			grid-column: 1/3;
		}
		#colophon {
			grid-column: 1/3;
		}
	}	
}

