{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
<!-- This is used in tag/category lists -->



<div class="summary-card" itemscope itemprop="mainEntityOfPage" itemtype="https://schema.org/BlogPosting">
  {{ $original := .Page.Resources.GetMatch .Params.featureimage }}
  {{ with $original }}  
  <div class="feature-image" style="background-image:url('{{ (.Fill "400x400").RelPermalink }}');">
    <a href="{{ .Permalink }}">
    </a>
  </div>
  {{ end }}
  <div class="meta-summary">
    <h3>
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </h3>
    <div class="entry-meta">
      <span itemprop="creator" itemscope itemtype="https://schema.org/Person"><i class="fas fa-user"></i> <span itemprop="name">{{ .Params.author | default .Site.Params.author }}</span></span>
      <time itemprop="datePublished" datetime="{{ .Date }}"><i class="fas fa-calendar-week"> </i> {{ .Date.Format $dateFormat }}</time>
      {{ if (.Params.categories) }}<span><i class="fas fa-folder-open"></i> {{ partial "meta-categories.html" . }}</span>{{ end }}
    </div>
  </div>
</div>
