{{ if isset .Params "author" }}
<footer class="h-card boxout">

      {{ $author := index .Site.Data.authors .Params.author }}
      {{ if isset $author "image" }}
        {{ $avatar := resources.Get $author.image }}
        <div class="hcard-avatar">
          <img src="{{ $avatar.RelPermalink }}" title="{{ $author.name }}" alt="{{ $author.name }}" class="avatar u-photo" />
        </div>
      {{ end }}
      <div class="hcard-bio">
        <h3 class="p-name">{{ $author.name }}</h3>
        <p>{{ $author.bio}}</p>

        {{ if isset $author.social "twitter" }}
          <a class="twitter-follow-button u-url" href="https://twitter.com/{{ $author.social.twitter }}" data-size="large">Follow @{{ $author.social.twitter }}</a>
        {{ end }}

        <p>
        {{ if isset $author.social "threads" }}
          <span class="icon"><a href="https://www.threads.net/@{{ $author.social.threads }}" target="_blank" title="Follow me on Threads"><i class="fab fa-xl fa-threads"></i></a></span>
        {{ end }}
        {{ if isset $author.social "instagram" }}
          <span class="icon"><a href="{{ $author.social.instagram }}" target="_blank" title="Follow me on Instagram"><i class="fa-xl fa-brands fa-square-instagram"></i></a></span>
        {{ end }}

        {{ if isset $author.social "website" }}
          <span class="icon"><a href="{{ $author.social.website }}" target="_blank" title="Visit my website"><i class="fa-xl fa-solid fa-earth-europe"></i></a></span>
        {{ end }}
        {{ if isset $author.social "mastodon" }}
          <span class="icon"><a href="{{ $author.social.mastodon }}" target="_blank" title="Follow me on Mastodon"><i class="fab fa-xl fa-mastodon"></i></a></span>
        {{ end }}

        </p>
      </div>
</footer>
{{ end }}