<div id="sidebar" class="sidebar">
  
  {{ if isset .Site.Params.sidebar "about" }}
  <div class="block-layout">
  <h4>{{ i18n "about" }}</h4>
    <p>{{ .Site.Params.sidebar.about | markdownify }}</p>
  </div>
  {{ end }}


<!-- This can be deleted soon -->
<div class="block-layout">
    {{ if isset .Params "author" }}

      {{ $author := index .Site.Data.authors .Params.author }}
      {{ if isset $author "image" }}
        {{ $avatar := resources.Get $author.image }}
        <img src="{{ $avatar.RelPermalink }}" title="{{ $author.name }}" alt="{{ $author.name }}" class="avatar" />
      {{ end }}
      <h3>{{ $author.name }}</h3>
      <p>{{ $author.bio}}</p>

      {{ if isset $author.social "twitter" }}
      <p><a class="twitter-follow-button" href="https://twitter.com/{{ $author.social.twitter }}" data-size="large">Follow @{{ $author.social.twitter }}</a></p>
      {{ end }}

    {{ else }}
      <p>Unknown</p>
    {{ end }}
</div>

{{ $num_recent_posts := (index .Site.Params.sidebar "num_recent_posts" | default 5) }}
<div class="block-layout">
  <h4>{{ i18n "recentPosts" }}</h4>
  <ul>
    {{ range first $num_recent_posts (where .Site.Pages "Type" "post") }}
      {{ .Render "card" }}
    {{ end }}
  </ul>
</div>

  {{ with .Site.Menus.sidebar }}
  <div class="block-layout">
    <h4>{{ i18n "links" }}</h4>
    <ul>
      {{ range . }}
        <li><a href="{{ .URL | absURL }}">
          {{ .Name }}
        </a></li>
      {{ end }}
    </ul>
  </div>
  {{ end }}

<div class="block-layout">
  <p><a href="{{ .Permalink }}#">{{ i18n "backToTop" }}</a></p>
</div>
</div>
